# 1. Ignore everything
**/*

# 2. Add files and directories that should be included
!apps/**
!packages/**
!.npmrc
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!turbo.json

# 3. Bonus step: ignore any unnecessary files that may be inside those allowed directories in 2
**/.DS_Store
**/Thumbs.db
