.pio
apps/device/.vscode/.browse.c_cpp.db*
apps/device/.vscode/c_cpp_properties.json
apps/device/.vscode/launch.json
apps/device/.vscode/ipch
*.log
dist/
.firebase/
.parcel-cache/
coverage/
node_modules/
.env*
.runtimeconfig.json
.idea/
.DS_Store
